node_modules/
.cache/
public
README_gatsby.md
.env.*
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
junit.xml
.lock-wscript
build/Release
.grunt
node_modules
integration-tests/gatsby-cli/execution-folder/*
*.un~
dist
bin/published.js
test/**/public
.gatsby-context.js
.DS_Store
public/
e2e-tests/gatsby-pnp/
__diff_output__/
.netlify
.Rhistory
.idea/
.vscode/
*.sw*
.serverless/
.eslintcache
scripts/.env
yarn.lock
package-lock.json
!/yarn.lock
!starters/*/package-lock.json
!themes/gatsby-starter-blog-theme/package-lock.json
!themes/gatsby-starter-notes-theme/package-lock.json
!themes/gatsby-starter-theme/package-lock.json
!themes/gatsby-starter-theme-workspace/package-lock.json

src/images/*
