.animationFromXHalf{
    transform: scaleX(0.5);
}

.animationFromXZero{
    transform: scaleX(0);
}

.animationFromZeroScale{
    transform: scale(0);
}

.animationLeftPositionX{
    opacity: 0;
    transform: translateX(-600px);
}

.animationrigthPositionX{
    opacity: 0;
    transform: translateX(600px);
}

.fromOpacityZero{
    opacity: 0;
}