

//bootstrap functions
@import "./bootstrap/functions.scss";


// Include any default variable overrides here (though functions won't be available)
@import "./variables.scss"; // own variables

$navbar-dark-brand-color: $main_foreground_color;
$navbar-dark-brand-hover-color: $navbar-dark-brand-color;

$nav-link-color:$main_power_color_silver;
$nav-link-hover-color: $main_power_color_yellow;
$form-text-color: $main_power_color_silver;

$primary:    $main_foreground_color;
$secondary:  $main_power_color_yellow;
$info:       $main_power_color_blue;
$warning:    $main_power_color_silver;
$dark:       $main_background_color;

$body-bg: $dark;

// required bootstrap imports
@import "./bootstrap/variables";
@import "./bootstrap/mixins";
@import "./bootstrap/root";


// Optional bootstrap imports
@import "./bootstrap/utilities";
@import "./bootstrap/navbar";
@import "./bootstrap/nav";
@import "./bootstrap/containers";
@import "./bootstrap/buttons";
@import "./bootstrap/transitions";
@import "./bootstrap/grid";
@import "./bootstrap/reboot";
@import "./bootstrap/list-group";


@import "./bootstrap//utilities/api";
