// **** Colors ****
$background_fallback: black;
$text_fallback_color: white;

$main_background_color: #080708;
$main_foreground_color: #DF2935;
$main_power_color_blue: #3772FF;
$main_power_color_yellow: #FDCA40;
$main_power_color_silver: #E6E8E6;

// **** fonts ****
$header_font: Baumans, cursive;
$text_font: Quicksand, sans serif;