$main_color: #BDC696;
$secondary_color: #351431;
$power_color_brown: #775253;
$power_color_gray: #D1D3C4;
$power_color_white: #DFE0DC;


#reader.dark{
    background-color: $power_color_brown;
    color: $power_color_white;
    h1, h2, h3, h4, h5, h6{
        color: $power_color_gray
    }
}

#reader.light{
    background-color: $power_color_gray;
    color: $power_color_brown;
    h1, h2, h3, h4, h5, h6{
        color: $secondary_color
    }
}