

/*
@font-face{
    font-family: Baumans;
    src: url("/static/portfolioCore/fonts/Baumans-Regular.ttf") format("truetype");
}
// text font
@font-face{
    font-family: Quicksand;
    src: url("/static/portfolioCore/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
*/
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import "./variables.scss";
@import "./custom.scss";
@import "./common.scss";


#brianWrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 20px;
  width: 80%;
  z-index: 97;
}
  
@media only screen and (min-width: 1200px) {
    #brianWrapper {
      width: 50%;
    }
}
  
  
